<mat-toolbar color="primary">
  <button *ngIf="_authService.isLoggedIn()" (click)="drawer.toggle()" mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin-left: 20px;">Hospital Management System</span>
  <span class="example-spacer"></span>
  <button *ngIf="!_authService.isLoggedIn()" (click)="login()" mat-button class="example-icon">
    Sign in
  </button>
  <button *ngIf="!_authService.isLoggedIn()" (click)="register()" mat-button class="example-icon">
    Register
  </button>
  <button *ngIf="_authService.isLoggedIn()" (click)="logOut()" mat-button class="example-icon">
    Logout
  </button>
</mat-toolbar>

<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <div *ngIf="_authService.getProfile()=='Admin'">
        <a routerLink="/add-doctor">
          <mat-list-item>Add New Doctor</mat-list-item>
        </a>
        <hr>
      </div>
      <div *ngIf="_authService.getProfile()=='Admin'">
        <a routerLink="/add-patient">
          <mat-list-item>Add New Patient</mat-list-item>
        </a>
        <hr>
      </div>
      <div *ngIf="_authService.getProfile()=='Admin'">
        <a routerLink="/admit-patient">
          <mat-list-item>Admit Patient</mat-list-item>
        </a>
        <hr>
      </div>
      <div *ngIf="_authService.getProfile()=='Doctor'">
        <a routerLink="/add-prescription">
          <mat-list-item>Add New Prescription</mat-list-item>
        </a>
        <hr>
      </div>

      <a *ngIf="_authService.getProfile()=='Patient'" routerLink="/view-prescription">
        <mat-list-item>View Prescription</mat-list-item>
      </a>
    </mat-list>

  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
