<div class="signup-container">
  <form [formGroup]="addPatientForm" (ngSubmit)="onSubmit()" class="form-signup">
    <h2>Add New Patient</h2>

    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" name="name" formControlName="name" matInput placeholder="Enter Patient Name">
          <mat-error *ngIf="addPatientForm.controls['name'].invalid">Name is required.</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12">
      <mat-grid-tile colspan="12" rowspan="1">
        <div class="form-group">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Full Address</mat-label>
          <input type="text" name="address" formControlName="address" matInput placeholder="Enter Complete Address">
          <mat-error *ngIf="addPatientForm.controls['address'].invalid">Address is required.</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile colspan="12" rowspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input type="text" name="phoneNo" formControlName="phoneNo" matInput
            placeholder="Enter Patient's Phone Number">
          <mat-error *ngIf="addPatientForm.controls['phoneNo'].invalid">Phone Number is required.</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <br>
    <button [disabled]="!addPatientForm.valid" type="submit" mat-flat-button color="primary">Register</button>
  </form>

</div>
